<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Monarch.ApplicationNamespace" value="Monarch.Blog"/>
		<add key="Monarch.ConnectionString" value="Data Source=(local);Initial Catalog=MonarchBlog;Integrated Security=SSPI"/>
	</appSettings>
	<system.web>
		<compilation debug="true">
		</compilation>
        <!--httpHandlers>
            <remove verb="*" path="*.ashx"/>
            <add verb="*" path="*.ashx" type="Monarch.ActionPack.HttpHandler, Monarch"/>
        </httpHandlers-->
	</system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
